<!DOCTYPE html>
<html>
  <head>
    <title>Online Training</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar static-top">
      <div class="container">
        <a class="navbar-brand" class="navbar-left"><%= image_tag "logo.png", width: 150 %></a>
        <a class="btn btn-primary" href="#">Sign In</a>
      </div>
    </nav>





  <%= yield %>
  </body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</html>
